.bottom{
    width: 100%;
    height: 100vh;
    position: relative;
    min-width: 58rem;

    @include background;

    &__wrap{
        height: 100%;
    }

    &__content{
        display: flex;
        justify-content: flex-start;
        // align-items: flex-start;
        width: 100%;
        max-width: 113.8rem;
        height: 100%;
        // max-width: 116rem;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__textBox{
        // width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 13rem;
        // flex-direction: column;

        &-subtitle{
            text-transform: uppercase;
            font-size: $h3FontSize;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        &-title{
            text-transform: uppercase;
            font-size: $sectionFontSize;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        &-caption{
            font-size: $h3FontSize;
            font-weight: 500;
            margin-bottom: 2.7rem;
        }
        
        &-button{
            display: flex;
            flex-direction: row;
            left: 0;
        }
    }
}

.button{
    display: flex;
    flex-direction: row;
    margin-right: 3.4rem;
    // color: $mainbackgroundColor;
    // background-color: $fontMainColor;
    font-size: $h3FontSize;
}