.button{
    cursor: pointer;
    &__mozaic{
        opacity: 0;
        // display: none;
        position: relative;
        bottom: 6rem;
        left: 25px;
        width: 25%;
        // visibility: hidden;
    }
    &__text{
        font-size: $mainFontSize;
        background: transparent;
        line-height: 1rem;
        &-section{
            // position: relative;
            // bottom: 11rem;
            // left: 16rem;
            color: $fontMainColor;
            font-size: $mainFontSize;
            text-transform: uppercase;
            background: transparent;
        }
    }
    &__filled{
        // width: 100%;
        // overflow: hidden;
        padding: 0.4rem 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        transition: ease-out 0.5s;
        &-black{
            background-color: $fontMainColor;
            color: $mainbackgroundColor;
            &:hover{
                color: $fontMainColor;
                box-shadow: inset 30rem 0 0 0 $mainbackgroundColor;
            }
        }
        
        &-white{
            white-space: nowrap;
            min-width: 20rem;
            max-height: 3.5rem;
            color: $fontMainColor;
            background-color: $mainbackgroundColor;
            // &:hover{
            //     color: $mainbackgroundColor;
            //     box-shadow: inset calc((2.5rem * 2) + 10rem) 0 0 0 $fontMainColor;
            // }
        }
        
        
    }
}