/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/global.scss ***!
  \****************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url(fonts/35d26b781dc5fda684cc.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(fonts/673ed42382ab264e0bf5.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(fonts/ac8d04b620e54be9b0f0.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(fonts/cdb29a5d7ccf57ff05a3.ttf);
  font-style: normal;
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sectionHeader__main {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.sectionHeader__caption {
  font-size: 1.5rem;
}

.card__wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2.2rem;
  font-size: 1.5rem;
}
.card__img {
  display: block;
  margin-bottom: 3.8rem;
}
.card__link {
  width: 100%;
  line-height: 2.2rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
  color: #22262A;
  text-transform: uppercase;
}
.card__caption {
  font-weight: 600;
}
.card__priceBox {
  display: inline-flex;
  width: 100%;
  line-height: 2.2rem;
}
.card__oldPrice {
  text-decoration: line-through;
  margin-right: 3.4rem;
}
.card__newPrice {
  color: red;
}

@media (min-width: 320px) and (max-width: 768px) {
  .card__wrap {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  .card__wrap {
    width: 20%;
    margin-bottom: 2.5rem;
    margin-right: 0;
    justify-content: flex-start;
  }
}
.mozaic__wrap {
  display: grid;
  grid-template: 26.5rem 26.5rem/repeat(4, 1fr);
  gap: 2.5rem;
  margin: 12.3rem 0 11rem 0;
}
.mozaic__item {
  overflow: hidden;
  transition: 0.3s;
}
.mozaic__item-top {
  grid-row: 1/2;
  grid-column: 1/3;
}
.mozaic__item-bottomLeft {
  grid-row: 2/3;
  grid-column: 1/3;
}
.mozaic__item-bottomRight {
  grid-row: 2/3;
  grid-column: 2/3;
}
.mozaic__item-big {
  grid-row: 1/3;
  grid-column: 3/5;
}
.mozaic__item:hover .button__mozaic {
  opacity: 1;
}
.mozaic__img {
  object-fit: cover;
}

@media (max-width: 768px) {
  .mozaic__wrap {
    grid-template: repeat(4, 26.5rem)/1fr;
  }
  .mozaic__item-top {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .mozaic__item-bottomLeft {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .mozaic__item-bottomRight {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .mozaic__item-big {
    grid-row: 4/4;
    grid-column: 1/2;
  }
  .mozaic__img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  .mozaic__wrap {
    grid-template: repeat(2, 26.5rem)/repeat(2, 1fr);
  }
  .mozaic__item-top {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .mozaic__item-bottomLeft {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .mozaic__item-bottomRight {
    grid-row: 2/2;
    grid-column: 1/2;
  }
  .mozaic__item-big {
    grid-row: 2/2;
    grid-column: 2/2;
  }
  .mozaic__img {
    width: 100%;
    height: 100%;
  }
}
.avone__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 6rem;
}
.avone__leftColumnWrap {
  align-items: flex-start;
  margin-right: 3rem;
}
.avone__img {
  transition: 0.4s;
}
.avone__img:hover {
  transform: scale(1.05);
}
.avone__rightColumnWrap {
  display: flex;
  flex-direction: column;
}
.avone__rightColumnWrap-button {
  position: relative;
  bottom: 11rem;
  left: 16rem;
}
.avone__rightColumnWrap-after {
  transition: 0.4s;
  height: 100%;
}
.avone__rightColumnWrap-after:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.avone__frontImg {
  position: relative;
  width: 44%;
  height: 90%;
  left: calc(55% + 3.8rem);
  bottom: 3.6rem;
  border: 2.2rem solid #fff;
}

@media (min-width: 320px) and (max-width: 1100px) {
  .avone__wrap {
    flex-direction: column;
  }
  .avone__leftColumnWrap, .avone__rightColumnWrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.5rem;
    overflow: hidden;
    flex-direction: column;
  }
  .avone__leftColumnWrap {
    height: 25rem;
  }
  .avone__rightColumnWrap {
    height: 30rem;
  }
  .avone__rightColumnWrap-after {
    display: flex;
    justify-content: center;
    height: 5rem;
  }
  .avone__rightColumnWrap-button {
    position: static;
    height: 5rem;
  }
  .avone__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .avone__backImg {
    height: 25rem;
    margin-bottom: 2.5rem;
  }
  .avone__frontImg {
    display: none;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 58rem;
}
.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__wrap {
  height: 100%;
}
.hero__content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  max-width: 113.8rem;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.hero__textBox {
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 10rem;
}
.hero__textBox-subtitle {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}
.hero__textBox-title {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 700;
}
.hero__textBox-caption {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.7rem;
}
.hero__textBox-button {
  display: flex;
  flex-direction: row;
  left: 0;
}

.textBox {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #22262A;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
  }
  .hero__textBox {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .hero__textBox-subtitle, .hero__textBox-title, .hero__textBox-caption, .hero__textBox-button {
    align-items: center;
  }
  .hero__textBox-title {
    font-size: 5rem;
  }
  .hero__textBox-button {
    width: 100%;
    flex-direction: column;
  }
  .button {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1000px) {
  .hero__bg {
    filter: opacity(50%);
  }
}
.bottom {
  width: 100vw;
  height: 100vh;
  position: relative;
  min-width: 58rem;
}
.bottom__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bottom__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottom__wrap {
  height: 100%;
}
.bottom__content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 113.8rem;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.bottom__textBox {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 13rem;
}
.bottom__textBox-subtitle {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.bottom__textBox-title {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.bottom__textBox-caption {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.7rem;
}
.bottom__textBox-button {
  display: flex;
  flex-direction: row;
  left: 0;
}

.button {
  display: flex;
  flex-direction: row;
  margin-right: 3.4rem;
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .bottom__bg {
    filter: opacity(50%);
  }
  .bottom__wrap {
    width: 100vw;
  }
  .bottom__textBox {
    align-items: center;
  }
  .bottom__textBox-title {
    font-size: 5rem;
  }
  .bottom__textBox-button {
    width: 100%;
  }
}
.header {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 8rem;
  background: #fff;
  color: #22262A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__wrap {
  width: 100%;
}
.header__burger {
  display: none;
  position: absolute;
  top: 50%;
  left: 2rem;
  width: 100%;
  height: 100%;
  max-width: 3rem;
  max-height: 3rem;
  transform: translate(0, -50%);
  transition: 0.3s;
}
.header__burger-main {
  background-color: #22262A;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: scale(1);
}
.header__burger::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #22262A;
}
.header__burger::after {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #22262A;
}
.header__burger.close {
  transition: 0.3s;
}
.header__burger.close::before {
  transition: 0.3s;
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
}
.header__burger.close::after {
  transition: 0.3s;
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 50%);
}
.header__burger.close span {
  transition: 0.3s;
  transform: scale(0);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header__content-logo {
  max-width: 16.4rem;
  max-height: 4.2rem;
}
.header__content-menu {
  color: #22262A;
  display: inline-flex;
}
.header__content-list {
  margin: 0;
  width: 100%;
  display: inline-flex;
}
.header__content-item {
  margin-right: 2.5rem;
  color: #22262A;
  font-size: 1.8rem;
  font-weight: 400;
  list-style: none;
  text-transform: uppercase;
}
.header__content-item:last-child {
  margin-right: 14rem;
}
.header__content-iconBlock {
  display: inline-flex;
}
.header__icon-search {
  content: " ";
  display: inline-block;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M1680.5,488.5C1592.8,576.2,1487.3,620,1364,620s-228.8-43.8-316.5-131.5S916,295.3,916,172s43.8-228.8,131.5-316.5 S1240.7-276,1364-276s228.8,43.8,316.5,131.5S1812,48.7,1812,172S1768.2,400.8,1680.5,488.5z M2287,914l-343-343 c82.7-119.3,124-252.3,124-399c0-95.3-18.5-186.5-55.5-273.5s-87-162-150-225s-138-113-225-150S1459.3-532,1364-532 c-95.3,0-186.5,18.5-273.5,55.5s-162,87-225,150s-113,138-150,225S660,76.7,660,172s18.5,186.5,55.5,273.5s87,162,150,225 s138,113,225,150S1268.7,876,1364,876c146.7,0,279.7-41.3,399-124l343,342c24,25.3,54,38,90,38c34.7,0,64.7-12.7,90-38 c25.3-25.3,38-55.3,38-90C2324,968.7,2311.7,938.7,2287,914z\"/></svg>");
  margin-right: 2.5rem;
  cursor: pointer;
}
.header__icon-hearth {
  content: " ";
  display: inline-block;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M2072,356l-580,559L911,355C786.3,230.3,724,112,724,0c0-54,7.2-101.7,21.5-143s32.7-74.2,55-98.5S850-285.7,882-301 s63.3-25.7,94-31c30.7-5.3,63.3-8,98-8c34.7,0,72,8.5,112,25.5s76.8,38.3,110.5,64c33.7,25.7,62.5,49.7,86.5,72s44,42.8,60,61.5 c12,14.7,28.3,22,49,22c20.7,0,37-7.3,49-22c16-18.7,36-39.2,60-61.5s52.8-46.3,86.5-72s70.5-47,110.5-64s77.3-25.5,112-25.5 s67.3,2.7,98,8s62,15.7,94,31s59.2,35.2,81.5,59.5c22.3,24.3,40.7,57.2,55,98.5c14.3,41.3,21.5,89,21.5,143 C2260,112,2197.3,230.7,2072,356z M2261-344c-84.7-82.7-201.7-124-351-124c-41.3,0-83.5,7.2-126.5,21.5s-83,33.7-120,58 s-68.8,47.2-95.5,68.5c-26.7,21.3-52,44-76,68c-24-24-49.3-46.7-76-68c-26.7-21.3-58.5-44.2-95.5-68.5s-77-43.7-120-58 S1115.3-468,1074-468c-149.3,0-266.3,41.3-351,124S596-146.7,596,0c0,44.7,7.8,90.7,23.5,138S653,225.7,673,259s42.7,65.8,68,97.5 s43.8,53.5,55.5,65.5s20.8,20.7,27.5,26l624,602c12,12,26.7,18,44,18c17.3,0,32-6,44-18l623-600c152.7-152.7,229-302.7,229-450 C2388-146.7,2345.7-261.3,2261-344z\"/></svg>");
  margin-right: 2.5rem;
  cursor: pointer;
}
.header__icon-shop {
  content: " ";
  display: inline-block;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M1262,786c-25.3-25.3-55.3-38-90-38s-64.7,12.7-90,38s-38,55.3-38,90s12.7,64.7,38,90s55.3,38,90,38s64.7-12.7,90-38 c25.3-25.3,38-55.3,38-90S1287.3,811.3,1262,786z M2158,786c-25.3-25.3-55.3-38-90-38c-34.7,0-64.7,12.7-90,38s-38,55.3-38,90 s12.7,64.7,38,90s55.3,38,90,38c34.7,0,64.7-12.7,90-38c25.3-25.3,38-55.3,38-90S2183.3,811.3,2158,786z M2305-257 c-12.7-12.7-27.7-19-45-19H1059c-0.7-4.7-2.2-13.3-4.5-26s-4.2-22.5-5.5-29.5s-4-15.7-8-26s-8.3-18.5-13-24.5s-11.2-11.2-19.5-15.5 c-8.3-4.3-17.8-6.5-28.5-6.5H724c-17.3,0-32.3,6.3-45,19s-19,27.7-19,45s6.3,32.3,19,45s27.7,19,45,19h204l177,823 c-1.3,3.3-6.5,13.2-15.5,29.5c-9,16.3-16.2,29.7-21.5,40c-5.3,10.3-10.7,22.3-16,36s-8,24.2-8,31.5c0,17.3,6.3,32.3,19,45 s27.7,19,45,19h1024c17.3,0,32.3-6.3,45-19c12.7-12.7,19-27.7,19-45s-6.3-32.3-19-45c-12.7-12.7-27.7-19-45-19h-920 c16-32,24-53.3,24-64c0-6.7-4.3-30-13-70l1044-122c16-2,29.5-9.2,40.5-21.5S2324,316,2324,300v-512 C2324-229.3,2317.7-244.3,2305-257z\"/></svg>");
  cursor: pointer;
}

.button__text {
  cursor: pointer;
}

@media (max-width: 946px) {
  .header {
    width: 100vw;
  }
  .header__burger {
    display: flex;
  }
  .header__content {
    display: none;
    height: 100vh;
    background: #fff;
    justify-content: space-around;
  }
  .header__content-list {
    flex-direction: column;
    align-items: center;
  }
  .header__content-item {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .header__content-item:last-child {
    margin: 0;
  }
  .header__wrap {
    height: 100vh;
    flex-direction: column;
  }
  .header__content, .header .button__text {
    font-size: 4rem;
  }
}
.footer {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  background: #F2F8FC;
  padding-top: 11.5rem;
}
.footer__main {
  padding-bottom: 5rem;
}
.footer__content {
  display: flex;
}
.footer__leftSide, .footer__rightSide {
  flex: 1 1 50%;
}
.footer__logo {
  max-width: 15rem;
  max-height: 4rem;
  margin-bottom: 1.7rem;
}
.footer__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__caption {
  max-width: 41rem;
  margin-bottom: 4rem;
}
.footer__location {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.footer__location-icon {
  content: " ";
  display: inline-block;
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M1364,236l256,128l-256,128V236z M1236,157v542l512-256V-99L1236,157z M1963,573c-48.7,83.3-114.7,149.3-198,198 s-174.3,73-273,73c-98.7,0-189.7-24.3-273-73c-83.3-48.7-149.3-114.7-198-198c-48.7-83.3-73-174.3-73-273s24.3-189.7,73-273 c48.7-83.3,114.7-149.3,198-198s174.3-73,273-73c98.7,0,189.7,24.3,273,73c83.3,48.7,149.3,114.7,198,198s73,174.3,73,273 S2011.7,489.7,1963,573z M2157-85.5c-68.7-117.7-161.8-210.8-279.5-279.5S1631.3-468,1492-468s-267.8,34.3-385.5,103 S895.7-203.2,827-85.5S724,160.7,724,300s34.3,267.8,103,385.5S988.8,896.3,1106.5,965s246.2,103,385.5,103s267.8-34.3,385.5-103 s210.8-161.8,279.5-279.5c68.7-117.7,103-246.2,103-385.5S2225.7,32.2,2157-85.5z\"/></svg>");
  margin-right: 2.6rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-email {
  text-decoration: underline;
  margin-bottom: 0.7rem;
}
.footer__contact-phone {
  margin-bottom: 1.6rem;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.footer__icon-fb {
  content: " ";
  display: inline-block;
  line-height: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M1012-468c-79.3,0-147.2,28.2-203.5,84.5S724-259.3,724-180v960c0,79.3,28.2,147.2,84.5,203.5 c56.3,56.3,124.2,84.5,203.5,84.5h532V473h-200V241h200V70c0-97.3,27.2-172.7,81.5-226c54.3-53.3,126.8-80,217.5-80 c76.7,0,136,3,178,9v207l-122,1c-45.3,0-75.8,9.3-91.5,28S1784,55.7,1784,93v148h229l-30,232h-199v595h188 c79.3,0,147.2-28.2,203.5-84.5c56.3-56.3,84.5-124.2,84.5-203.5v-960c0-79.3-28.2-147.2-84.5-203.5 c-56.3-56.3-124.2-84.5-203.5-84.5H1012z\"/></svg>");
  margin-right: 1.7rem;
}
.footer__icon-inst {
  content: " ";
  display: inline-block;
  line-height: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M1673,481c-50,50-110.3,75-181,75c-70.7,0-131-25-181-75s-75-110.3-75-181s25-131,75-181s110.3-75,181-75 c70.7,0,131,25,181,75s75,110.3,75,181S1723,431,1673,481z M1771,21c-76.7-76.7-169.7-115-279-115c-109.3,0-202.3,38.3-279,115 c-76.7,76.7-115,169.7-115,279s38.3,202.3,115,279s169.7,115,279,115c109.3,0,202.3-38.3,279-115c76.7-76.7,115-169.7,115-279 S1847.7,97.7,1771,21z M1967-175c-18-18-39.7-27-65-27s-47,9-65,27s-27,39.7-27,65s9,47,27,65s39.7,27,65,27s47-9,65-27 s27-39.7,27-65S1985-157,1967-175z M1568.5-330.5c46.3-0.3,81.5-0.3,105.5,0s56.2,1.3,96.5,3c40.3,1.7,74.7,5,103,10 s52.2,11.2,71.5,18.5c33.3,13.3,62.7,32.7,88,58c25.3,25.3,44.7,54.7,58,88c7.3,19.3,13.5,43.2,18.5,71.5c5,28.3,8.3,62.7,10,103 c1.7,40.3,2.7,72.5,3,96.5c0.3,24,0.3,59.2,0,105.5c-0.3,46.3-0.5,71.8-0.5,76.5s0.2,30.2,0.5,76.5c0.3,46.3,0.3,81.5,0,105.5 c-0.3,24-1.3,56.2-3,96.5c-1.7,40.3-5,74.7-10,103s-11.2,52.2-18.5,71.5c-13.3,33.3-32.7,62.7-58,88c-25.3,25.3-54.7,44.7-88,58 c-19.3,7.3-43.2,13.5-71.5,18.5s-62.7,8.3-103,10s-72.5,2.7-96.5,3s-59.2,0.3-105.5,0c-46.3-0.3-71.8-0.5-76.5-0.5 c-4.7,0-30.2,0.2-76.5,0.5c-46.3,0.3-81.5,0.3-105.5,0s-56.2-1.3-96.5-3c-40.3-1.7-74.7-5-103-10s-52.2-11.2-71.5-18.5 c-33.3-13.3-62.7-32.7-88-58s-44.7-54.7-58-88c-7.3-19.3-13.5-43.2-18.5-71.5c-5-28.3-8.3-62.7-10-103c-1.7-40.3-2.7-72.5-3-96.5 s-0.3-59.2,0-105.5s0.5-71.8,0.5-76.5s-0.2-30.2-0.5-76.5s-0.3-81.5,0-105.5s1.3-56.2,3-96.5s5-74.7,10-103 c5-28.3,11.2-52.2,18.5-71.5c13.3-33.3,32.7-62.7,58-88s54.7-44.7,88-58c19.3-7.3,43.2-13.5,71.5-18.5s62.7-8.3,103-10 s72.5-2.7,96.5-3s59.2-0.3,105.5,0c46.3,0.3,71.8,0.5,76.5,0.5C1496.7-330,1522.2-330.2,1568.5-330.5z M2255-17 c-6.7-138.7-48-246-124-322s-183.3-117.3-322-124c-58.7-3.3-164.3-5-317-5s-258.3,1.7-317,5c-138.7,6.7-246,48-322,124 S735.7-155.7,729-17c-3.3,58.7-5,164.3-5,317s1.7,258.3,5,317c6.7,138.7,48,246,124,322s183.3,117.3,322,124c58.7,3.3,164.3,5,317,5 s258.3-1.7,317-5c138.7-6.7,246-48,322-124s117.3-183.3,124-322c3.3-58.7,5-164.3,5-317S2258.3,41.7,2255-17z\"/></svg>");
  margin-right: 1.7rem;
}
.footer__icon-twitter {
  content: " ";
  display: inline-block;
  line-height: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M2094-138c70-42,117.3-101.3,142-178c-64,38-132.3,64-205,78c-64-68-142.7-102-236-102c-89.3,0-165.5,31.5-228.5,94.5 S1472-106.3,1472-17c0,24,2.7,48.7,8,74c-132-6.7-255.8-39.8-371.5-99.5C992.8-102.2,894.7-181.7,814-281c-29.3,50-44,104.3-44,163 c0,55.3,13,106.7,39,154s61,85.7,105,115c-52-2-100.7-15.7-146-41v4c0,78,24.5,146.5,73.5,205.5S952.3,415.7,1027,431 c-28,7.3-56.3,11-85,11c-18.7,0-39-1.7-61-5c20.7,64.7,58.7,117.8,114,159.5c55.3,41.7,118,63.2,188,64.5c-117.3,92-251,138-401,138 c-28.7,0-54.7-1.3-78-4c150,96.7,315.3,145,496,145c114.7,0,222.3-18.2,323-54.5c100.7-36.3,186.7-85,258-146 s132.8-131.2,184.5-210.5s90.2-162.2,115.5-248.5s38-172.8,38-259.5c0-18.7-0.3-32.7-1-42c63.3-46,117.3-101.7,162-167 C2218-161.3,2156-144.7,2094-138z\"/></svg>");
  margin-right: 1.7rem;
}
.footer__icon-linkedin {
  content: " ";
  display: inline-block;
  line-height: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" x=\"0px\" y=\"0px\" style=\"enable-background:new 596 -596 1792 1792;\" xml:space=\"preserve\" fill=\"black\" viewBox=\"596 -596 1792 1792\"><path d=\"M961,124h231v694H961V124z M1171-4.5c-24,23-55.7,34.5-95,34.5h-1c-38,0-68.8-11.5-92.5-34.5S947-56,947-90 c0-34.7,12.2-63.3,36.5-86c24.3-22.7,55.8-34,94.5-34s69.7,11.3,93,34s35.3,51.3,36,86C1207-56,1195-27.5,1171-4.5z M1792,447 c0-104.7-38.7-157-116-157c-29.3,0-54,8.2-74,24.5s-35,36.2-45,59.5c-4.7,12-7,30.7-7,56v388h-231c2-418.7,2-650,0-694h231v101h-2 c48.7-78,118.3-117,209-117c80,0,144.3,26.3,193,79s73,130.3,73,233v398h-231V447z M2175.5-383.5c-56.3-56.3-124.2-84.5-203.5-84.5 h-960c-79.3,0-147.2,28.2-203.5,84.5S724-259.3,724-180v960c0,79.3,28.2,147.2,84.5,203.5c56.3,56.3,124.2,84.5,203.5,84.5h960 c79.3,0,147.2-28.2,203.5-84.5c56.3-56.3,84.5-124.2,84.5-203.5v-960C2260-259.3,2231.8-327.2,2175.5-383.5z\"/></svg>");
}
.footer__inputForm-form {
  margin-bottom: 7rem;
}
.footer__inputForm-caption {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.footer__infoBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__infoBox-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.7rem;
}
.footer__infoBox-item {
  margin-bottom: 2rem;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-height: 9.3rem;
  padding: 3.5rem 0;
  background-color: #E7F5F8;
  color: #22262A;
  font-size: 1.5rem;
  font-weight: 400;
}

.input {
  flex: 0 1 100%;
}
.input__wrap {
  width: 95%;
  height: 4.5rem;
  align-items: center;
}
.input__button {
  flex: 0 1 100%;
}

@media (max-width: 540px) {
  .footer__content {
    flex-direction: column-reverse;
  }
  .footer__leftSide, .footer__rightSide {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .footer__logo {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.7rem;
  }
  .footer__location {
    justify-content: center;
  }
  .footer__caption {
    margin: 0 auto;
    margin-bottom: 1.7rem;
  }
  .footer__icon {
    justify-content: space-between;
  }
  .footer__infoBox {
    flex-direction: column;
  }
  .footer__infoBox-column {
    margin: 0 auto;
    padding-bottom: 2rem;
    justify-content: center;
  }
  .footer__inputForm-caption {
    text-align: center;
  }
  .footer__bottom {
    text-align: center;
  }
}
.button {
  cursor: pointer;
}
.button__mozaic {
  opacity: 0;
  position: relative;
  bottom: 6rem;
  left: 25px;
  width: 25%;
}
.button__text {
  font-size: 1.5rem;
  background: transparent;
  line-height: 1rem;
}
.button__text-section {
  color: #22262A;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: transparent;
}
.button__filled {
  padding: 0.4rem 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: ease-out 0.5s;
}
.button__filled-black {
  background-color: #22262A;
  color: #fff;
}
.button__filled-black:hover {
  color: #22262A;
  box-shadow: inset 30rem 0 0 0 #fff;
}
.button__filled-white {
  white-space: nowrap;
  min-width: 20rem;
  max-height: 3.5rem;
  color: #22262A;
  background-color: #fff;
}

.input {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.07);
  color: #22262A;
  border-radius: 0.5rem;
}
.input__wrap {
  display: flex;
  position: relative;
}
.input::placeholder {
  color: #22262A;
  font-size: 1.5rem;
  padding: 1.1rem 0 1.1rem 2.4rem;
}
.input__button {
  position: absolute;
  display: inline-block;
  right: 2.3rem;
  outline: none;
  background: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
.input__button:hover {
  font-size: 1.8rem;
}

html, body {
  font-size: 10px;
  font-family: "Poppins";
}

body.lock {
  overflow: hidden;
}

.active {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1160px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.paddingNull {
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin: 6.5rem 0 11rem 0;
}

.img {
  transition: 0.4s;
  object-fit: cover;
}
.img:hover {
  filter: brightness(75%);
  transform: scale(1.05);
}

@media (max-width: 467px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (min-width: 468px) and (max-width: 1100px) {
  .gallery {
    width: 100%;
    justify-content: space-between;
  }
}
