.mozaic{
    &__wrap{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        margin: 12rem 0 12rem 0;
    }
    &__leftColumnWrap{
        display: flex;
        flex-direction: column;
        top: 0;
        margin-top: 0;
        margin-right: 3rem;
    }
    &__top{
        margin-bottom: 2.2rem;
    }
    &__mid1{
        margin-right: 2.5rem;
    }

    &__rightColumnWrap{
        top: 0;
        &-button{
            position: relative;
            max-width: 20rem;
            max-height: 3.5rem;
            bottom: 5rem;
            left: 2.8rem;
        }
    }

    &__right{
        filter: brightness(50%);
    }
}

// button{
//     color: $fontMainColor;
//     background-color: $mainbackgroundColor;
// }

// .button{
//     &__wrap{
//         position: relative;
//         bottom: 5rem;
//         left: 2.8rem;
//     }
// }
