.mozaic{
    &__wrap{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        margin: 12rem 0 12rem 0;
    }
    &__item{
        display: flex;
        flex-direction: column;
        &-top{
            margin-right: 3rem;
            flex: 0 0 50%;
        }
        
        &-top{
            margin-bottom: 2.3rem;
        }
        &-bottom{
            display: flex;
            flex-direction: row; 
            justify-content: space-around;
        }
        &-bottomLeft{
            flex: 1 1 50%;
            // margin-right: 2.5rem;
        }
        &-bottomRigth{
            flex: 1 1 50%;
        }
        &-big{
            flex: 0 0 50%;
        }
    }
    
    &__img{
        &-left{
            margin-right: 2.5rem;
        }
        &:hover + .button__mozaic{
            opacity: 1;
        }
    }

}