mixin catagory(imgPath1, catagoryName1, imgPath2, catagoryName2, imgPath3, catagoryName3, imgPath4, catagoryName4)
    .container 
        .mozaic__wrap 
            .mozaic__item.mozaic__item-top
                img(src=imgPath1, alt="Some image").img.mozaic__img 
                +button('a', 'filled filled-white mozaic', catagoryName1)
            .mozaic__item.mozaic__item-bottomLeft 
                img(src=imgPath2, alt="Some image").img.mozaic__img 
                +button('a', 'filled filled-white mozaic', catagoryName2)
            .mozaic__item.mozaic__item-bottomRight 
                img(src=imgPath3, alt="Some image").img.mozaic__img 
                +button('a', 'filled filled-white mozaic', catagoryName3)
            .mozaic__item.mozaic__item-big
                img(src=imgPath4, alt="Some image").img.mozaic__img 
                +button('a', 'filled filled-white mozaic', catagoryName4)