.sectionHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__main{
        font-size: $h2FontSize;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__caption{
        font-size: $mainFontSize;
        
    }
}