@import 'colors';
@import 'vars';
@import 'fonts';
@import 'null';
@import 'fontAwesome';


@import '../blocks/section-header/sectionHead.scss';
@import '../blocks/card/card.scss';
@import '../blocks/mozaic-catagory/catagory.scss';
@import '../blocks/mozaic-avone/avone.scss';
@import '../blocks/background-image/bg.scss';
@import '../blocks/hero-section/hero.scss';
@import '../blocks/bottom-section/bottom.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/button/button.scss';
@import '../blocks/input/input.scss';


html, body{
    font-size: 10px;
    font-family: 'Poppins';
}

.wrap{
    width: 100%;
    overflow: hidden;
}
.container{
    height: 100%;
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-direction: row;
    margin: 6.5rem 0 11rem 0;
}

// .catagorySection{

// }
