doctype html
html(lang="en")
    include ../src/blocks/button/button.pug
    include ../src/blocks/input/input.pug
    include ../src/blocks/section-header/sectionHead.pug
    include ../src/blocks/card/card.pug
    include ../src/blocks/mozaic-catagory/catagory.pug
    include ../src/blocks/mozaic-avone/avone.pug
    include ../src/blocks/hero-section/hero.pug
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fashion site
    body 
        //- +button('button', 'filled', underline=false, 'some text')
        //- +input('some text', '', 'email', 'join')
        //- +sectionHead("women's fashion", "Shop our new arrivals from established brands")
        //- +card(require('../src/img/womensFashion/women1.png'), 
        //-         'igure', 
        //-         'GREEN MUSCLE FIT POLO SHIRT',
        //-         '229.00',
        //-         sale=true,
        //-         '129.00')

        //- +catagory(
        //-         require('../src/img/catagory/catagory1.svg'),
        //-         require('../src/img/catagory/catagory2.svg'),
        //-         require('../src/img/catagory/catagory3.svg'),
        //-         require('../src/img/catagory/catagory4.svg'),
        //-         'catagory name'
        //-     )

        //- +avone(
        //-     require('../src/img/avone/avone1.png'),
        //-     require('../src/img/avone/avone2.png'),
        //-     require('../src/img/womensFashion/women1.png')
        //- )

        +heroSection(
            require('../src/img/heroSection.png'),
            'NEW TREND', 
            'COLLUSION', 
            "An exclusive selection of this season's trends.", 
            'discover|shop now' 
            )