.avone{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 6rem;
        // align-items: flex-end;
    }
    &__leftcolumnWrap {
        align-items: flex-start;
        margin-right: 3rem;
    }
    &__leftImg{
        margin-top: 8.7rem;
        transition: 0.4s;
            &:hover{
                transform: scale(1.05);
            }
    }
    &__backImg{
        transition: 0.4s;
            &:hover{
                transform: scale(1.05);
            }
    }
    &__rightColumnWrap{
        display: flex;
        // flex-wrap: wrap;
        // align-items: flex-end;
        flex-direction: column;
        &-button{
            position: relative;
            bottom: 11rem;
            left: 16rem;
        }
        &-after{
            transition: 0.4s;
            &:hover{
                transform: scale(1.05);
                text-decoration: underline;
            }
        }
    }
    &__frontImg{
        position: relative;
        width: 44%;
        height: 90%;
        // height: 42%;
        left: calc(55% + 3.8rem);
        bottom: 3.6rem;
        border: 2.2rem solid $mainbackgroundColor;
    }
}

// .button{
//     &__wrap{
//         position: relative;
//         bottom: 11rem;
//         left: 16rem;
//     }
// }