.avone{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 6rem;
        // align-items: flex-end;
    }
    &__leftColumnWrap {
        align-items: flex-start;
        margin-right: 3rem;
    }
    &__img{
        transition: 0.4s;
        &:hover{
            transform: scale(1.05);
        }
    }
    &__rightColumnWrap{
        display: flex;
        // flex-wrap: wrap;
        // align-items: flex-end;
        flex-direction: column;
        &-button{
            position: relative;
            bottom: 11rem;
            left: 16rem;
        }
        &-after{
            transition: 0.4s;
            height: 100%;
            &:hover{
                transform: scale(1.05);
                text-decoration: underline;
            }
        }
    }
    &__frontImg{
        position: relative;
        width: 44%;
        height: 90%;
        // height: 42%;
        left: calc(55% + 3.8rem);
        bottom: 3.6rem;
        border: 2.2rem solid $mainbackgroundColor;
    }
}
// @media (max-width: 467px){
//     .avone{
//         &__wrap{
//             flex-direction: column;
//         }
//         &__leftColumnWrap, &__rightColumnWrap{
//             width: 100%;
//             margin-right: 0;
//         }
//         &__leftColumnWrap{
//             margin-bottom: 2.5rem;
//         }
//         &__rightColumnWrap-after{
//             flex-direction: row;
//         }
//         &__rightColumnWrap-button{
//             left: 20%;
//         }
//         &__leftImg{
//             width: 100%;
//             object-fit: cover;
//         }
//         &__backImg{
//             width: 100%;
//             object-fit: cover;
//         }
//         &__frontImg{
//             left: calc(55% + 1.4rem);
//         }
//     }
// }

@media (min-width: 320px) and (max-width: 1100px){
    .avone{
        &__wrap{
            flex-direction: column;
        }
        &__leftColumnWrap, &__rightColumnWrap{
            
            width: 100%;
            margin-right: 0;
            margin-bottom: 2.5rem;
            overflow: hidden;
            flex-direction: column;
        }
        &__leftColumnWrap{
            height: 25rem;
        }
        &__rightColumnWrap{
            height: 30rem;
        }
        &__rightColumnWrap-after{
            display: flex;
            justify-content: center; 
            height: 5rem;
        }
        &__rightColumnWrap-button{
            // top: 50%;
            // bottom: 0;
            // left: 50%;
            // justify-content: space-between;
            position: static;
            height: 5rem;
        }
        &__img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &__backImg{
            height: 25rem;
            margin-bottom: 2.5rem;
        }
        &__frontImg{
            display: none;
        }
    }
}
// @media (min-width: 800px) and (max-width: 1100px){

// }